extends layout
block link
    script(src='/javascripts/chatbot.js')
block content
    .container
        h1=title
        ul(id="chat_content",style="height:400px;padding:10px;border:1px solid;overflow-y:scroll;")
            li="小橙子说：hi，你好啊，来吧互相伤害吧"
        input(type="text", style="width:80%;height:20px;padding:5px", placeholder="尽情调戏吧，互相伤害吧",maxlength="50",id="question"
        ,onkeydown="FinishInput()")
        input(type="button", style="width:15%;height:30px;padding:5px;float:right;", id="doChatButton", value="发送",onclick="GetData()")





