extends layout
block link
    link(rel='stylesheet', href='/stylesheets/crawler.css')
block content
    h1=title
        small (查询关键字
        small(class="hint") #{keyword}
        small )
    .container
        p!=all_data



